.exposing-prod
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}
.image-title
{
    font-size: 1.5vw;
    color: #014898;
    height: 20vh;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-size
    {
       width: 17em;
       
    
    }
.expos-item
{
 display: flex;
 flex-direction: column;
 border-right: 2px solid blue;
 width: 100%;
 margin-top: 20%;
 height: auto;
}
.colme
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
}
.image-desc
{
    width: 100%;
    height: 10vh;
    background-color: blue;
    color: white;
    font-size: 2vw;
    animation: slidein ;
    animation-duration: 3s;
  
}
@keyframes slidein {
    from {
      color: yellow;
     
    }
  
    to {
       color: aqua;
       
        }
  }



@media only screen and (max-width: 1200px) {

    .products-size
    {
       width: 10em;
    }
    .image-title
    {
        font-size: 2vw;
    }
    .products-size
    {
      max-width: 100%;
      max-height: 100%;
    }

}
@media only screen and (max-width: 320px){

    .products-size
    {
       width: 4em;
    }  

    .image-title
    {
        font-weight: bolder;
    }
}
@media only screen and (max-width: 600px) {

    .exposing-prod
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    
    .expos-item
    {
       
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .products-size
    {
        width: 9em;
        border: none;
    }
    .image-title
{
    font-size: 4.5vw;
    
    
}
.colme
{
    display: flex;
    flex-wrap: wrap;
    width: 50%; 
}

}