.produit
{

display: flex;
flex-direction: column;
background-repeat: no-repeat;
background-size: 100%;


}
.products-discreption
{ 
color: blue;
font-size: 2.5vw;

}
.liste-prod
{
display: flex;
justify-content: space-between;
width: 80%;
}

.pro-item
{
    background-color: rgb(20,42,65);
    width: 15%;
    font-size: 2.5vw;
    font-weight: 500;
    color: white;
}
.org-product
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.product-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6.5vw;
    font-weight: 700;
    text-align: center;
}
.exposing-prod
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.expos-item
{
   

}
.image-title
{
    font-size: 2vw;
    color: rgb(1,72,152);
    height: 20vh;
    bottom: 10%;
}

@media only screen and (max-width: 1200px) {

    .products-size
    {
       width: 20%;
    }
    
    .products-discreption
    {
        font-size: 4.5vw;
    }



}
@media only screen and (max-width: 600px) {

   
    .product-title
    {
        font-size: 10vw;
    }

.org-product
{
    display: flex;
    width: 100%;
}

.pro-item
{
    width: 100%;
}

.exposing-prod
{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    
}

}