.footer{
    width: 100%;
    height: 30vh;
    background-color: rgba(60, 64, 87, 0.835);
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}