*{
    margin: 0px;
    padding: 0px;
}
.top-nav 
{
    display: flex;
    width: 100%;
    height: auto;
  
}
   
   
   .shapes {
    width: 50vw;
    height: 62vh;
    background-repeat: no-repeat;
    background-size:100%;
    
}
      .shapes button
      {
          background-color: white;
          color: #014898;
          font-weight: 800;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .shapes-item
      {
          color: white;
          font-size: 1.5em;
      }
  

#collasible-nav-dropdown a
{
    text-decoration: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: transparent;
    
}
a :hover
{
    text-decoration: none;
    outline: none;
   text-decoration: underline transparent;
}
      .nav {
        
        display: flex;
        flex-wrap: nowrap;
       
      }
    .NavDropdown.Item  a{
          outline: none;
          text-decoration: none;
          color: rgb(18,45,75);
      }
      
      .nav-container
      {
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: auto;
      }
      .comapany-name
      {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align:left ;
          color: white;
          height: 50%;
          width: 80%;
          font-size: 3vw;
          font-weight: bolder;
          text-align:left;
          padding-left: 5%;
          }
   
     
      .comapany-name p{
        font-size: 1.8vw;
         text-align: justify;
         font-weight: 500;
      }
     .button-container
     {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         padding-left: 3%;
         padding-bottom: 10%;
         height: 20%;
     }
     .button-container button {

      
        height: fit-content;
        background-color: white;
     }
     .shapes .button-container button
     {
         background-color: white;
         color: #014898;
     }
     .inox-back
     {
         width: 60vw;
         background-repeat: no-repeat;
         background-size: 109%;
         height: 62vh;
     }
     .inox-back-size
     {
         width: 100%;
     }
     .shapes button
     {
         background-color: transparent;
         color: white;
     }
     .navbar
     {
       width: 100%;
     }
  
    .nav-item
    {
        font-weight: bolder;
        
    }
    .navbar-dark .navbar-nav .nav-link {
        
        font-size: 1.5vw;
        color: white;
       
    }
    .NavDropdown.Item 
{
    font-size: 20vw;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

     @media only  screen and (max-width:1500px){
         .comapany-name
         {
             height: auto;
         }
         
     }
     @media only screen and (max-width: 1350px){
        .inox-back {
                 background-size: 125%;
            }
        }  
     @media only screen and (max-width: 1200px){

        .inox-back
        {
           display: none;
        }
        .shapes {

            width: 100%;
            background-size:150%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .shapes-item
      {
          color: white;
          font-size: 2.8vw;
      }
      .logo-nav
      {
          width: 5em;
      }

      .comapany-name
      {
        height: auto;
        width: 100%;
        text-align: center;
    }
    .comapany-name p
    {
        font-size: 2.8vw;  
    }
         
          .button-container
          {
             display: flex;
            justify-content: center;
          }
          
          .comapany-name p
          {
              font-size: 3vw;  
              width: 100%;
              text-align: center;
          }
          .comapany-name h1
          {
              font-size: 3vw;  
              width: 100%;
              text-align: center;
             
          }
          .comapany-name
          {
              font-size: 8vw;
          }
    
            .shapes
           {
             height: auto;
             }
             .navbar-dark .navbar-nav .nav-link {
        
                font-size: 2.5vw;
                
               
            }
        
        }
     @media only screen and (max-width:900px){
            .shapes
            {
          height: auto;
                 }
    

        }
     @media only screen and (max-width: 320px){
            .comapany-name p
            {
                font-size: 3vw;  
                width: 100%;
                text-align: center;
            }
            .comapany-name h1
            {
                font-size: 3vw;  
                width: 100%;
                text-align: center;
               
            }
            .comapany-name
            {
                font-size: 8vw;
            }
            .shapes
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background-size: auto;
                height: auto;

            }
            .item-contact {
                font-size: 3.5vw;
            }
            .navbar-dark .navbar-nav .nav-link {
        
                font-size: 2.5vw;
                color: white;
               
            }
            .navbar-dark .navbar-nav .nav-link {
            
                font-size: 3.5vw;
            }
    }
     @media only screen and (max-width: 600px){
            .comapany-name p
            {
                font-size: 3vw;  
                width: 100%;
                text-align: center;
            }
            .comapany-name h1
            {
                font-size: 3vw;  
                width: 100%;
                text-align: center;
            }
            .comapany-name
            {
                font-size: 8vw;
            }
          
        .shapes
        {
            height: auto;
            background-size: auto;
           }
        .map 
        {
            width: 40%;
        }

        .navbar-dark .navbar-nav .nav-link {
            
            font-size: 3.5vw;
        }
        

        }