.mini{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.mini button
{
    background-color: cadetblue;
    
    width: 15%;
    box-shadow: gray;
    border: none;
    font-weight: bold;

}